.btn {
  background: lightblue;
  margin: 4px;
  opacity: 0.7
}

.addButtonDiv {
  text-align: center;
}

.hidden {
  display: none;
}

.editLink {
  background: lightblue;
  text-decoration: none;
  margin: 4px;
  opacity: 0.7;
  color: #fff;
  border-color: #6c757d;
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.boxes {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
}