body {
  margin: 10;
  padding: 30px 0 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 50px;
  padding: 50px
}

#root {
  margin: 10;
  padding: 30px 0 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 50px;
  padding: 50px
}

.form-group {
  margin: 0px;
  padding: 0px;
}

.box {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.loginInput {
  margin: 5px;
  border-radius: 3px;
}

