body {
  margin: 10;
  padding: 30px 0 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 50px;
  padding: 50px;
  background-image: url("trail-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#root {
  margin: 10;
  padding: 30px 0 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 50px;
  padding: 50px
}

label {
  color: white;
}

.form-group {
  margin: 0px;
  padding: 0px;
}

.box {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  min-width: 200px;
  color: white;
  background-color: rgba(255, 255, 255, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.loginInput {
  margin: 5px;
  border-radius: 3px;
}

