.nav-link {
  color: green;
  font-weight: bold;
}

.btnNav {
  border-radius: 4px;
  margin: 5px;
  background: lightblue;
  border: lightblue;
  margin: 4px;
  opacity: 0.7
}

.navbar {
  background-color: lightblue;
  overflow: hidden;
  opacity: 0.7;
}

.navbar a:hover {
  background-color: #ccccff;
  color: green;
}

a.li {
  text-align: center;
}