.loginForm {
  padding: 0 25px;
  color: rgb(228, 248, 228);  text-align: center;
}

.registerForm {
  padding: 0 25px;
  color: rgb(228, 248, 228);
  text-align: center;
}

#login {
  font-family: 'Roboto Slab', serif;
}

#register {
  font-family: 'Roboto Slab', serif;
}

.loginInput {

  border-radius: 8px;
}

.loginContainer {
  background-color: white;
}
